:root{
    --primary-text:#050505;
    --primary-icon:#050505;
    --background-color:#f0f2f5;
    --height_header:56px;
    --color-cirle:#e4e6eb;
    --filter-secondary-icon:invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    --background-button-blue:#1877f2;
    --background-hover:#e4e6e9;
}
.facebook_wrap_cirle{
    width: 40px;
    height: 40px;
    background-color: var(--color-cirle);
    border-radius: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
}
.facebook_logo_user_wrap{
    width: 40px;
    height: 40px;
    border-radius: 40px; 
    overflow: hidden;
}
.facebook_logo_user_wrap img{
    width: 40px;
    height: 40px;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.opacity{
    background-color:rgba(0,0,0,0.2);
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: 0.1s linear;
    
}
.change_paper{
    position: absolute;
    background-color: #fff;
    box-shadow:  0 2px 8px #0000001a;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @keyframes fast{

    to{
       
    }
} */
.facebook_contenner_list {
    list-style-type: none;
    padding-left: 8px;
    position: relative;
}
.facebook_contenner_item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 52px;
    min-height: 44px;
    padding-left: 8px;
    
}
.facebook_contenner_item_name{
    color: var(--primary-text);
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}
.facebook_contenner_item a:hover{
    background-color: var(--background-hover);
    border-radius: 10px;
}
.facebook_contenner_icon img{
    width: 36px;
    height: 36px;
}
.facebook_logo_wrap{
    width: 36px;
    height: 36px;
    border-radius: 28px;
    background-color:#e4e6eb;
    display: flex;
    justify-content:center;
    align-items: center;
}
.hidden_item{
    display: none;
}
.show_item{
    display: block !important;
}
.facebook_contenner_center_wrap_post{
    width: 100%;
    background-color: #ffffff;
    padding: 0 16px;
    border-radius:10px;
    border:1px solid rgba(0,0,0,0.1) ;
    box-shadow:1px 1px 1px rgba(0,0,0,0.05);
    margin-bottom: 16px;
    position: relative;
}
.facebook_contenner_icon_user{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 0.5px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px #00000033;
    margin-left: 16px;
    cursor: pointer;  
    position: relative;
}
.facebook_contenner_center_posts_function{
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.facebook_contenner_center_posts_function:hover{
    background-color: var(--background-hover);
}
.hr{
    border:1.1px solid #ced0d4;
    background-color:#ced0d4;
    width: 92%;
}
.hr_1{
    width: 92%;
    border:0.5px solid #ced0d4;
    background-color:#ced0d4;
}
