.overlay_nav{
    position:fixed;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display:none;
}
.m_header_header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px 0 10px; 
    position:fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index:5;
}
.m_header_nav_icon{
    font-size:24px;
    color:white;
}
.m_search{
    width:100%;
    height: 40px;
    border: 2px solid #d3d3d3;
    background-color:white;  
    display:flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 5px;
}
.m_header_nav{
    background-color: white;
    position:fixed;
    top: 0;
    left: 0;
    width: 276px;
    height:100vh;
    z-index:15;
    display:none;
    overflow: scroll;
}
.nav_close{
    background-color: white;
    position: fixed;
    top: 0;
    left:276px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    z-index: 11;
    display: none;
}

.nav_close i{
    font-size: 30px;
}
.m_header_nav_header{
    width:100%;
    height: 86px;
    background-color:var(--background-color)
}
.nav_user_warp{
    width: 28px;
    height: 28px;
    border-radius: 28px;
    border:1px solid #b5aeae;
    background-color:#ececec;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.nav_user_warp i{
    color: #d3d3d5;
}
.nav_user{
    display: flex;
    margin-top:10px;
    align-items: center;
}
.m_header_nav_header{
    padding:10px;
}
.nav_content{
    border-top:1px solid #e4e4e4 ;
    border-bottom: 1px solid #e4e4e4;
    margin-top:4px;
}
.nav_menu{
    height:44px;
    line-height: 44px;
    display: flex;
    
  
}
.nav_menu a{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    cursor: pointer;
    text-decoration: none;
}

.nav_menu i:nth-child(1){
    color:white;
    font-size:18px;
    background-color: #71be0f;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.nav_title{
    font-size: 16px;
    display: flex;
    align-items: center;
}
.nav_title i{
    margin-right: 10px;
}
.nav_footer{
    padding-bottom:40px;
}
.nav_menu_footer{
    height: 38px;
    line-height: 38px;
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:17px;
    margin-top: 10px;
}
.nav_menu_footer p{
    color:red;
    margin-left: 5px;
}
.m_advertise_top{
    position:relative;  
    width: 100%; 
    height: 200px;
}
.m_advertise_top_img{
    width: 100%;
    height: 100%;
}
.m-advertise_pape_next li{
    width: 10px;
    height: 10px;
    border-radius:10px ;
    background-color:#cbcbcb;
    margin-right: 4px;
}
.m-advertise_pape_next{
    position: absolute;
    bottom:0;
    right: 0;
    display: flex;
    justify-content:flex-end;
    margin:8px 0;
}
.form_nav_2{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 40px;
    background-color: #71be0f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px;
}
.form_nav_2 i {
    font-size: 22px;
    color: white;
}
.m_advertise_right{
    width: 100%;
}
.header_contenner_product li {
    height: 43px;
    padding: 10px 5px;
    font-size: 13px;
    margin-right:5px;
    font-weight: 500;
}
.menu_nav_2_item{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav_2_warp{
    position:relative;
    width: 100%;
    height: 70px;
}
.menu_nav_2{
    height:70px;
    width:100%;
    margin-top: 10px;
    overflow:hidden;
    touch-action: none;
}
.menu_nav_2_wrap{
    width:900px;
    display:flex;
    position:relative;
    left: 0;
    pointer-events: none;
    transition: 0s ease-in;
}
.form_nav_2_name{
    color: #626262;
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 1px;

}
.m_next_left{
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.m_next_right{
    z-index: 1 ;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

    
