@media (min-width:1024px) and (max-width:1239px) {
  .advertise_right{
      display: none;
  }
  .header__cart{
    right: -52px;
  }
  
}
@media (min-width: 740px) and (max-width: 1023px){

  .m_header_shop{
    display: block;
  }
  .header_shop{
    display: none;
  }
  .m_advertise_top{
    display: none;
  }
  .advertise_right{
    display: none !important;
  }
  .nav_2_warp{
    display: none
  }
  .header_product_main_right{
    display: none;
  }
  .contenter_shop_categogy_warp.contenter_shop_categogy_warp_fixed{
    display: none !important;
  }
  .m_header_header{
    background-image: linear-gradient(#f53d2d,#ff6533);
    display:flex;
    justify-content:space-between;
    padding-right: 25px;
  }
  .input_search{
    width:100%;
  }
  .header_cart-icon{
    font-size: 18px;
  }
  .header-cart-notice {
    right: -13px;
    top: -13px;
    font-size: 12px;
    line-height: 12px;
  }
  .header_shop_bottom-logo{
    margin-top:6px;
  }

  .header__cart{
    right: 0;
  }

  .header_shop_bottom-logo svg{
    width: 140px;
    color: white;
    fill: white;
  }
  .header-cart-notice{
    border: 2px solid white;
    color:white
  }
  .header_cart-icon{
    color:white;
  }
  .contenter_shop_categogy{
    margin: 0 !important;
  }
  .categogy_advertise_warp {
    margin: 0 !important;
  }
  .header_shop_bottom-logo svg {
    width: 180px;
    margin-right: 10px;
  }
  .advertise_center{
    width: 500px;
  }
  .advertise_top{
    width: 500px;
  }
  .advertise_right{
    display: none;
  }
  .search_warp{
    width: 480px;
  }
  .header_shop_top_right .header_shop_right_group:nth-child(1){
    display: none;
  }
  .header_shop_top_right .header_shop_right_group:nth-child(2){
    display: none;

  }
  .header__cart{
    right: -55px;
  }
   .footer_shop_follow_icon p{
    display:none;
  }
  .m_header_header{
    display:flex;
  }

}
@media (max-width:739px){
  .product_img{
    height: auto;
  }
  .product_warp{
    height: auto;
  }
  .product_img_wrap{
    padding-top: 100%;;
  }
  .btn_view{
    top: 50%;
    margin-left: -31px;
    font-size: 12px;
    font-weight: 500;
    text-transform: unset;
    padding: 5px 4px;
    width: 70px;
  }
  .product_main_name {
    font-size: 12px;
    min-width:120px;
    padding:0 5px;
    justify-content:center;

  }
  .product_main_name i{
    margin-right: 5;
    font-size: 15px;
  }
  .btn_other_top{
    top: 20px;
    bottom: unset;
    right: 6px;
  }
  .footer_other{
    display:none;
  }
  .price__discount span {
    position: absolute;
    color: white;
    right: 4px;
    top: 4px;
    font-size: 12px;
  }
  .price__discount::after{
    top: 3px;
    left:-13px;
  }
  .btn_other {
    font-size: 10px;
    padding: 4px 3px;
  }
  .product_name{
    font-size:13px;
    padding:10px;
    font-weight: 600;
    height: 60px;
  }
  .product_price{
    font-size:15px;
  }
  .price__discount{
    top: -50px;
    right: -79px;
    width: 33px;
    height: 21px;
  }
  .product_price_info{
    font-size:15px;
  }
  .header_contenner_product li{
    height: 30px;
    padding: 10px 6px;
    font-size: 11px;
    margin-right: 2px;
  }
  .header_product_main{
    margin-bottom: 15px;
    height: 30px;
    line-height: 30px;
  }
  .dropdown-menu_wrap_select{
    left: -3px;
    top: 28px;
  }
  .m_header_shop{
    display: block;
  }
  .header_shop{
    display: none;
  }
  .categogy_advertise_warp{
    display:none;
  }
  .contenter_shop_categogy_warp{
    display: none !important;
  }
  .m_header_header{
    background-image: linear-gradient(#f53d2d,#ff6533);
  }
  .header_cart-icon{
    font-size: 18px;
  }
  .header-cart-notice {
    right: -13px;
    top: -13px;
    font-size: 12px;
    line-height: 12px;
  }
  .header__cart-wrap{
    right: 0;
  }
  .header_shop_bottom-logo svg{
    width: 140px;
    color: white;
    fill: white;
  }
  .header-cart-notice{
    border: 2px solid white;
    color:white
  }
  .header_cart-icon{
    color:white;
  }
  .header_shop_bottom-logo{
    margin-top:4px;
  }
  .input_search{
    flex: 1;
  }
  .btn-search{
    width:48px;
    height: 35px;
    border-radius: 0;
  }
  .advertise_top{
    display: none;
  }
  .advertise_pape_next{ 
    display: none;
  }
  
  .dropdown_menu_cart{
    left: 0;
    position:fixed;
    width: 100%;
    top: 37px;
    z-index: 5;
  }
 .shop_area_select{
  width: 150px;
  height: 27px;
  line-height: 27px;
  font-size:12px;
 }
 .m-advertise_top{
  display:block;
  }
    .menu_nav_2{
      display:flex;

  }
  .advertise_right{
    display:flex;
  }
  .header_product_main_right{
    display: none;
  }

  .product_main_name_list {
    padding: 0 5px;
    height: 100%;
    font-weight: 400;
    font-size: 10px;
  }
  .footer_import_mail{
    display:none;
  }
  .footer_wrap_list{
    text-align:center;
  }
  .footer_footer_wrap{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .footer_other_list{
    text-align: center;
  }
  .footer_shop_follow_icon p{
    display:none;
  }
}